{% extends 'base.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
    <h1>Liste des personnes</h1>
    <ul>
        {% for person in persons %}
            <li>{{ person.firstName }} {{ person.lastName }} - {{ person.email }}</li>
        {% else %}
            <li>Aucune personne trouvée.</li>
        {% endfor %}
    </ul>
{% endblock %}
